{{!-- Shows products in cart for User as a table--}}
<section>
    <div class="container">
        <table class="table mt-5 table-bordered">
            <thead class="table-info" style="font-weight:bolder; font-size:larger">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody class="table-primary" style="font-weight:bold;">
                {{#each products}}
                <tr>
                    
                    <td><img src="/product-images/{{this.product._id}}.png" style="width:100px; height:100px" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    
                    <td>             <!-- Button to change the quantity of products in the cart & displays the quantity in center -->
                        <button class="cart-item-count m-3" style="height:1.7rem; width:1.7rem; font-weight: 900;" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                         <span id="{{this.product._id}}"> {{this.quantity}} </span>  
                        <button class="cart-item-count m-3" style="height:1.7rem; width:1.7rem; font-weight: 700;" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
                    </td>
                    <td>₹ {{this.product.Price}}</td>
                    <td><a href="/remove-cart-item/{{this._id}},{{this.product._id}}" class="btn btn-danger">Remove</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr style="height:1px; background: black;">
        <div class="float-right pr-5">
            <h5 class="float-left mr-5">Total:₹<span id="total">{{totalAmount}}</span></h5><br>
            <a href="/place-order" class="btn btn-success mt-3" style="width:100%;">Place Order</a> {{!-- button to place order --}}
        </div>
    </div>
</section>

<script>
    function changeQuantity(cartId,proId,userId,count) {
        let quantity=parseInt(document.getElementById(proId).innerHTML);
        count=parseInt(count);
        $.ajax({
            url:'/change-product-quantity',          //using ajax to change a specific part without refreshing the page
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("Product removed form cart!");
                    location.reload();
                }else{
                    document.getElementById(proId).innerHTML=quantity+count;    //changes the quantity of product
                    document.getElementById('total').innerHTML=response.total;  //changes the total value as product quantity changes
                }
            }
        })  
    }
</script>