{{!-- Displays the details of an order as cards  --}}
<section>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3 mt-3">
                <div class="card bg-light border-dark">
                    <div class="card-header"><h5 class="cart-title">{{this.order.Name}}</h5></div>
                    <img class="card-img-top" src="/product-images/{{this.order._id}}.png" alt="Image" style="height:12rem;">
                    <div class="card-body">
                        <p class="card-text">₹ {{this.order.Price}}</p>
                        <p class="card-text">Quantity: {{this.quantity}}</p>
                        <p class="card-text">{{this.order.Description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>